<link rel="stylesheet" href="assets/css/contact.css">

<body class="greyish animated fadeInRight">
	<div class="container center-align">
		<h1>Contact Card</h1>
		<hr>
		<div class="row">
			<div class="col s12 m6 l6">
				<div class="row">
					<h6>Shoot a message over <i class="material-icons" style="vertical-align: middle;">&#xE163;</i> </h6>
					<form class="col s12">
						<div class="row">
							<div class="input-field col s6">
								<input id="first_name" type="text" name="first_name" class="validate">
								<label for="first_name">First Name</label>
							</div>
							<div class="input-field col s6">
								<input id="last_name" type="text" name="last_name" class="validate">
								<label for="last_name">Last Name</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input id="email" type="email" name="email" class="validate">
								<label for="email">E-Mail</label>
							</div>
						</div>
						<textarea id="message" class="materialize-textarea" name="message" placeholder="Your Message" required></textarea>
						<button class="btn waves-effect waves-light" type="submit" name="action">Submit
							<i class="mdi-content-send right"></i>
						</button>
					</form>
				</div>
			</div>
			<div class="col s12 m6 l6 contact-holder">
				<h6>Other ways to get in touch  <i class="material-icons" style="vertical-align: middle;">&#xE0BA;</i></h6>
				<h6 class="material-icons dp48">email</h6>
				<p>
					<span>
						<a href="mailto:sosulliv@seanmosullivan.com" target="_top">sosulliv@seanmosullivan.com</a>
					</span>
				</p>
				<h6 class="material-icons dp48">code</h6>
				<p>
					<span>
						<a href="https://github.com/sosulliv">https://github.com/sosulliv</a>
					</span>
				</p>
				<h6 class="material-icons dp48">account_box</h6>
				<p>
					<span>
						<a href="https://www.linkedin.com/in/seanmosullivan">https://www.linkedin.com/in/seanmosullivan</a>
					</span>
				</p>



			</div>
		</div>
		<a class="btn-floating btn-large waves-effect waves-light black" href="/">
			<i class="material-icons">keyboard_arrow_left
			</i>
		</a>

	</div>


	<!--Import jquery-->
	<script type="text/javascript" src="vendor/js/jquery-3.2.1.min.js"></script>

	<!--Import materialize-->
	<script type="text/javascript" src="vendor/js/materialize.min.js"></script>
	<!--Import custom-->
	<script type="text/javascript" src="assets/js/index.js"></script>
	<script>
		$("form").submit(function (event) {
			event.preventDefault();

			var messageObj = {
				fname:	$("#first_name").val(),
				lname:	$("#last_name").val(),
				email:	$("#email").val(),
				message: $("#message").val()
			};

			$.post("/api/message/create", messageObj, function(data) {
				if(data=='ok'){
					 M.toast({html: 'Message Has Been Sent & Received!', classes: 'green rounded'});
					 $("form").trigger('reset');
				}
			});



		});
	</script>

</body>
