<link rel="stylesheet" href="assets/css/index.css">

<body class="animated flipInX">
	<div id="particles-js">
		<div class="btext">
			<h1>I'm
				<span class="txt-rotate  " data-period="1200" data-rotate='["Frank.", " a Developer.", " an Innovator." , "a Student"]'></span>
			</h1>
		</div>
	</div>


	<a class="navItem navItemBlog black-text  transition" id="blog-link" href="/blog" rel="blog">
		<span class="text">Blog</span>
	</a>
	<a class="navItem navItemContact black-text" id="contact-link" data-animation="37" href="/contact" rel="Contact">
		<span class="text">Contact</span>
	</a>
	<a class="navItem navItemProjects black-text" id="project-link" data-animation="3" href="/projects" rel="Projects">
		<span class="text">Projects</span>
	</a>
	<a class="navItem navItemAbout black-text" id="about-link" data-animation="4" href="/about" rel="About">
		<span class="text">About</span>
	</a>


	<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

	<script>
		particlesJS.load('particles-js', 'particles.json',
			function () {
				console.log('particles.json loaded...')
			})
	</script>
</body>


<script type="text/javascript" src="vendor/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="vendor/js/materialize.min.js"></script>

<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

<script>
	particlesJS.load('particles-js', "assets/files/particles.json", function () {
		console.log('particles.json loaded...');
	});


	$("#blog-link").hover(function () {
		$(this).addClass('animated jello');
	});
	$("#blog-link").bind("animationend webkitAnimationEnd oAnimationEnd MSAnimationEnd", function () {
		$(this).removeClass('animated jello');
	});

	$("#contact-link").hover(function () {
		$(this).addClass('animated jello');
	});
	$("#contact-link").bind("animationend webkitAnimationEnd oAnimationEnd MSAnimationEnd", function () {
		$(this).removeClass('animated jello');
	});
	$("#about-link").hover(function () {
		$(this).addClass('animated jello');
	});
	$("#about-link").bind("animationend webkitAnimationEnd oAnimationEnd MSAnimationEnd", function () {
		$(this).removeClass('animated jello');
	});
	$("#project-link").hover(function () {
		$(this).addClass('animated jello');
	});
	$("#project-link").bind("animationend webkitAnimationEnd oAnimationEnd MSAnimationEnd", function () {
		$(this).removeClass('animated jello');
	});
</script>
<!--Import custom-->
<script type="text/javascript" src="assets/js/index.js"></script>
</body>