<link rel="stylesheet" href="assets/css/index.css">

<body class=" blue-grey lighten-5">
	<div class="container">

		<div class="center-align" id="lettering_div">

			<h1>
				I'm

				<span class="txt-rotate  " data-period="2000" data-rotate='["Sean.", " a Builder.", " an Innovator." ]'></span>


			</h1>


			<a class="navItem navItemBlog black-text  transition" id="blog-link" href="/blog" rel="blog">
				<span class="text">Blog</span>
			</a>

		</div>


		<a class="navItem navItemContact black-text" data-animation="37" href="/contact" rel="Contact">
			<span class="text">Contact</span>
		</a>
		<a class="navItem navItemProjects black-text" data-animation="3" href="/projects" rel="Projects">
			<span class="text">Projects</span>
		</a>
		<a class="navItem navItemAbout black-text" data-animation="4" href="/about" rel="About">
			<span class="text">About</span>
		</a>
	</div>


	<script type="text/javascript" src="vendor/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="vendor/js/materialize.min.js"></script>

	<!--Import custom-->
	<script type="text/javascript" src="assets/js/index.js"></script>
</body>
