<body class="blue-grey lighten-5 animated fadeInUp">
	<div class="container portfolio">
		<h5>portfolio</h5>
		<h6>we are stuck with technology when what we really want is just stuff that works</h6>
		<h6>-adams</h6>
		<hr>
		<div class="row">
			<div class="col s12 m12 l12 portfolio-holder">
				<img class="materialboxed" src="http://labs.qnimate.com/portfolio-materialize/images/project.png">
				<img class="materialboxed" src="http://labs.qnimate.com/portfolio-materialize/images/project.png">
				<img class="materialboxed" src="http://labs.qnimate.com/portfolio-materialize/images/project.png">
				<img class="materialboxed" src="http://labs.qnimate.com/portfolio-materialize/images/project.png">
				<img class="materialboxed" src="http://labs.qnimate.com/portfolio-materialize/images/project.png">
				<img class="materialboxed" src="http://labs.qnimate.com/portfolio-materialize/images/project.png">
			</div>
		</div>

		<a class="btn-floating btn-large waves-effect waves-light black right " href="/">
			<i class="material-icons">keyboard_arrow_up
			</i>
		</a>
	</div>


	<!--Import jquery-->
	<script type="text/javascript" src="vendor/js/jquery-3.2.1.min.js"></script>

	<!--Import materialize-->
	<script type="text/javascript" src="vendor/js/materialize.min.js"></script>
	<!--Import custom-->
	<script type="text/javascript" src="assets/js/index.js"></script>
</body>
